/*Стандартизация*/
html, body {
	margin: 0 auto;
	cursor: default;
    width: 100%;
    height: 100%;

	background:url(../images/background.png) center no-repeat;
	background-position-y: 0px;
	background-size: 100%;
}

.wrapper {
    display: grid;
    justify-content: center;
	margin: 0 auto;
	width: 100%;
}


/*Header*/
.header {
	/*background-color:  red;*/
}

.header_group {
	margin: 0px 0px 0px 0px;
	height: 229px;
	display: flex;
}

.logo {
	width: 237px;
	height: 148px;
	margin-top: 49px;
    margin-left: 40px;
	background:url(../images/logo.png) center no-repeat;
	background-size: contain;
}

.header_nav {
    display: flex;
	height: 61px;
    margin-top: 95px;
    margin-left: 74px;
    outline: 3px;
    outline-style: solid;
    outline-color: #D7B037;
}

.header_nav_link {
	width: 184.5px;
}

.header_nav_link_text {
	text-align-last: center;
	line-height: 62px;

	font-size: 33px;
	font-family: "Open Sans";
	color: #D7B037;
	align-self: center;

	cursor: pointer;
}

.home {

}

.menu {

}

.specials {

}

.about {

}

.method {

}

.header_page {
	display: flex;
	width: 1440px;
	height: 593px;
    position: relative;
    left: -57px;
    background: url(../images/header_page.png) center no-repeat;
    background-size: auto;
    background-position-y: 1px;
    overflow: hidden;
}

#left_page {
    margin-left: -348px;
	width: 690px;
	height: 100%;
	background: url(../images/pork.png) center no-repeat;
	background-size: auto;
	background-position-y: -30px;

    z-index: 2;
}

#right_page {
    margin-right: -348px;
    margin-left: 0px;
    width: 690px;
    height: 100%;
    background: url(../images/chiken.png) center no-repeat;
    background-size: auto;
    background-position-y: -30px;

    z-index: 2;
}

#info_group {
	margin: 0 auto;
	margin-top: 197px;

    z-index: 3;
}

.event {
	position: relative;
    left: 88px;
    width: 497px;
    height: 74px;
    background-color: #D7B037;

    line-height: 84px;
    text-align: center;
    font-size: 47px;
    font-family: "Open Sans";
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
}

.event_date {
	position: relative;
    left: 98px;
    width: 477px;
    height: 72px;
    margin-top: 10px;

    line-height: 74px;
    text-align: center;
    font-size: 42px;
    font-family: "Open Sans";
    font-weight: 800;
    letter-spacing: -0.8px;
    color: white;

    outline: solid;
    outline-width: 10px;
    outline-color: #D7B037;
}

.info {
	position: relative;
    left: 15px;
    margin-top: 59px;

    text-align: center;
    font-size: 43px;
    font-family: "Open Sans";
    color: white;
    letter-spacing: 1px;
}

.scroll_group {
	display: flex;
	margin-top: 50px;
    margin-left: 234px;
    width: 204px;
    height: 41px;
}

.scroll_left {
    width: 22px;
    height: 41px;

    color: #D7B037;
    text-align: center;
    font-size: 35px;
    font-weight: 900;

    cursor: pointer;
    user-select: none;
}

.scroll_image {
	margin-top: 11px;
    margin-left: 25px;
    width: 20px;
    height: 20px;

    box-shadow: 0px 0px 0px 3px #D7B037;
    border-radius: 13px;

    cursor: pointer;
}

#scroll_01 {
	background-color: rgb(215, 176, 55);
    transition: background-color 0.2s linear;
}

#scroll_02 {
	transition: background-color 0.2s linear;
}


#scroll_03 {
	transition: background-color 0.2s linear;
}


.scroll_right {
    margin-left: 25px;
    width: 22px;
    height: 41px;

    color: #D7B037;
    text-align: center;
    font-size: 35px;
    font-weight: 900;

    cursor: pointer;
    user-select: none;
}

/*Main_1*/
.main_1 {
	margin-top: 62px;
}

.main_1_page {
	width: 1440px;
	height: 988px;
    position: relative;
    left: -57px;
    background: url(../images/main_1_page.png) center no-repeat;
    background-size: auto;
    background-position-y: -2px;
}

.main_1_caption {
	position: relative;
    top: 30px;
	margin-bottom: 28px;

	font-family: 'Fjalla One', sans-serif;
	font-size: 62px;
	color: white;
	text-align: center;
}

.food_image_group {
	display: grid;
    grid-template-columns: repeat(auto-fit, 0px);
    grid-gap: 465px;
	width: 1284px;
	margin: 0 auto;
}

.chicken_image {
	width: 360px;
	height: 339px;
	background: url(../images/chicken_image.png) center no-repeat;
    background-size: auto;
}

.beef_image {
	width: 360px;
	height: 339px;
	background: url(../images/beef_image.png) center no-repeat;
    background-size: auto;
}

.pork_image {
	width: 360px;
	height: 339px;
	background: url(../images/pork_image.png) center no-repeat;
    background-size: auto;
}

.food_group {
	margin-top: 1px;
	margin-left: 85px;
	display: grid;
    grid-template-columns: repeat(auto-fit, 407px);
    grid-gap: 54px;
}

.food_caption {
	width:360px;
}

.food_caption_text {
	height: 65px;
	background-color: #D7B037;

	font-size: 30px;
	font-family: "Open Sans";
    font-weight: 800;
    color: black;
    line-height: 67px;
    text-indent: 13px;
}

.food_menu_group {
	width: 354px;
	height: 147px;
	margin-left: 3px;
	outline: 3px;
    outline-style: solid;
    outline-color: #D7B037;
    line-height: 48px;
    text-indent: 12px;
    letter-spacing: 0.8px
}

.food_menu {
	display: flex;

	font-size: 22px;
	font-family: "Open Sans";
	color: white;
}

.food_menu_price {
	margin-left: auto;
	margin-right: 10px;
}

/*Main_2*/
.main_2 {
	margin-top: 63px;
}

.main_2_page {
	display: flex;
	width: 1440px;
	height: 708px;
    position: relative;
    left: -57px;
    background: url(../images/main_2_page.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: 0px;
}

.main_2_image {
	margin-left: 101px;
    margin-top: 20px;
	width: 703px;
	height: 100%;
	background: url(../images/main_2_image.png) center no-repeat;
	background-size: auto;
}

.main_2_text {
	margin-left: auto;
    margin-right: 130px;
    margin-top: 84px;

    font-size: 54px;
    font-family: "Open Sans";
    color: #D7B037;
    text-align: right;
    line-height: 66px;
    letter-spacing: 0.4px;
}

.main_2_text_bold {
	font-size: 54px;
	letter-spacing: 1.5px;
    font-weight: 600;
}

.main_2_button {
	margin-left: auto;
	margin-right: 1px;
	margin-top: 16px;
	width: 187px;
	height: 40px;
	background-color: #D7B037;

	font-size: 27px;
    color: black;
    text-align: center;
    line-height: 44px;
    font-family: 'Fjalla One', sans-serif;

    cursor: pointer;
}

.main_2_logo {
	margin-left: auto;
    margin-right: 3px;
    margin-top: 103px;
    width: 157px;
    height: 124px;
    background: url(../images/logo.png) center no-repeat;
    background-size: contain;
    background-position-y: 25px;
}

.main_2_title {
	margin-top: 18px;
	font-size: 34px;
	text-align: right;
    line-height: 44px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1.1px;
}

/*Main_3*/
.main_3 {
	display: grid;
	margin-top: 60px;
}

.main_3_page {
	width: 1440px;
	height: 1110px;
    position: relative;
    left: -57px;
    background: url(../images/main_3_page.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: 0px;
}

.main_3_group {
	display: flex;
}

.main_3_caption {
	margin-top: 80px;
	margin-left: 104px;
	width: 546px;
	height: 68px;
	background-color: #D7B037;

	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	text-align: center;
	line-height: 71px;
    letter-spacing: 1.4px;
    font-weight: 800;
}

.main_3_caption_text {
	margin-top: 1px;
    margin-left: 4px;
    width: 538px;
    height: 125px;

	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-align: center;
	line-height: 109px;
    letter-spacing: 1.4px;

	outline: 4px;
    outline-style: solid;
    outline-color: #D7B037;
}

.main_3_text {
	margin-top: 88px;
    margin-left: 79px;

	font-size: 29px;
	font-family: 'Open Sans', sans-serif;
	color: white;
	line-height: 36px;
}

.main_3_page_2 {
	margin-top: 69px;
    margin-left: 85px;
	width: 781px;
	height: 776px;
	background: url(../images/main_3_page_2.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: 0px;
}

.main_3_page_3 {
	position: relative;
    top: -847px;
    left: 1033px;
	width: 341px;
	height: 334px;
	background: url(../images/main_3_page_3.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: 0px;
}

.main_3_page_4 {
	margin-top: -860px;
    margin-left: 802px;
    position: relative;
    top: -95px;
    left: 57px;
	width: 385px;
	height: 546px;
	background: url(../images/main_3_page_4.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: 0px;
}

/*Main_4*/
.main_4 {
	margin-top: -125px;
}

.main_4_page {
	display: flex;
	width: 1440px;
	height: 883px;
    position: relative;
    left: -57px;
    background: url(../images/main_4_page.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: -1px;
    z-index: -1;
}

.main_4_image {
	width: 698px;
	height: 808px;
    position: relative;
    top: 75px;
    background: url(../images/main_4_image.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: 51px;
}

.main_4_caption {
	margin-top: 300px;
	margin-left: 76px;
	width: 586px;
	height: 82px;
	background-color: #D7B037;

	font-size: 58px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	text-indent: 39px;
    line-height: 92px;
    letter-spacing: 1.4px;
    font-weight: 800;
}

.main_4_caption_text {
	margin-top: -2px;
    margin-left: 8px;
    width: 535px;
    height: 241px;

    font-size: 37px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-indent: 0px;
    padding-left: 35px;
    padding-top: 14px;
    line-height: 45px;
    letter-spacing: 1.1px;
    font-weight: 400;

    outline: 8px;
    outline-style: solid;
    outline-color: #D7B037;
}

/*Main_5*/
.main_5 {
	margin-top: 60px;
}

.main_5_page {
	display: flex;
	width: 1440px;
	height: 883px;
    position: relative;
    left: -57px;
    background: url(../images/main_5_page.png) center no-repeat;
    background-size: auto;
    background-position-x: 0px;
    background-position-y: -2px;
    z-index: -1;
}

.main_5_caption {
	margin-top: 95px;
    margin-left: 163px;
    padding-top: 4px;
    width: 491px;
    height: 90px;
    background-color: #D7B037;

    font-size: 58px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;

    line-height: 92px;
    letter-spacing: 1.4px;
    font-weight: 800;
}

.main_5_caption_text {
	margin-top: 8px;
    margin-left: 10px;
    padding-top: 13px;
    width: 471px;
    height: 189px;

    font-size: 58px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 1.4px;

    outline: 10px;
    outline-style: solid;
    outline-color: #D7B037;
}

.main_5_text {
	margin-top: 216px;
    margin-left: 48px;

    font-size: 41px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 50px;
    letter-spacing: 2px;
}

.main_5_image {
	margin-top: -516px;
    margin-left: -58px;
    width: 1440px;
    height: 515px;
    background: url(../images/main_5_image.png) center no-repeat;
    background-size: auto;
    background-position-y: 51px;
    z-index: 1;
}

/*Footer*/
.footer {

}

.footer_page {
	height: 599px;
	margin-bottom: auto;
	padding-top: 124px;
}

.footer_logo {
	margin: 0 auto;
	width: 193px;
	height: 120px;

	background: url(../images/logo.png) center no-repeat;
    background-size: contain;
}

.footer_title {
    margin: 25px auto 0px auto;
	width: fit-content;

	font-size: 46px;
	font-family: 'Fjalla One', sans-serif;
	color: #D7B037;
	letter-spacing: 1px;
}

.footer_info {
	display: flex;
}

.footer_caption {
	margin-top: 62px;
    margin-left: 180px;
    padding-top: 4px;
    width: 434px;
    height: 52px;
    background-color: #D7B037;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    line-height: 53px;
    letter-spacing: 1.4px;
    font-weight: 800;
}

.footer_caption_text {
	margin-top: 3px;
    margin-left: 4px;
    padding-top: 13px;
    width: 426px;
    height: 91px;

    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 1.4px;

    outline: 4px;
    outline-style: solid;
    outline-color: #D7B037;
}

.footer_link_group
{
	margin-top: 61px;
    margin-left: 122px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 185px);
    grid-gap: 16px;

    width: 386px;
    height: 150px;

    cursor: pointer;
}

#home {

}

#blog {

}

#about {

}

#cookies {

}

#contact {

}

#site_map {

}

.footer_link {
	width: fit-content;
	font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.footer_info_2 {
	display: flex;
	margin-top: 70px;
}

.footer_adress {
	margin-left: 23px;

	font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    letter-spacing: 1.2px;
}

.footer_social_network {
	display: flex;
	margin-top: 8px;
	margin-left: 333px;
}

.footer_social_network_image {
	margin-right: 21px;
	width: 47px;
	height: 47px;
	border-radius: 3px;

	cursor: pointer;
}

#instagram {
	background: url(../images/Instagram.png) center no-repeat;
    background-size: contain;
}

#facebook {
	background: url(../images/Facebook.png) center no-repeat;
    background-size: contain;
}

#twitter {
	background: url(../images/Twitter.png) center no-repeat;
    background-size: contain;
}

#youtube {
	background: url(../images/Youtube.png) center no-repeat;
    background-size: contain;
}

.footer_social_network_adress {
	font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    color: #D7B037;
    letter-spacing: 1px;
}



@keyframes left_page_scroll {

    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-345px);
    }
}
@keyframes left_page_scroll_back {

    0% {
        transform: translateX(-345px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes right_page_scroll {

    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(345px);
    }
}
@keyframes right_page_scroll_back {

    0% {
        transform: translateX(345px);
    }

    100% {
        transform: translateX(0px);
    }
}

.left_page_scroll_animation {
    animation: left_page_scroll .5s linear;
}
.left_page_scroll_back_animation {
    animation: left_page_scroll_back .5s linear;
}

.right_page_scroll_animation {
    animation: right_page_scroll .5s linear;
}
.right_page_scroll_back_animation {
    animation: right_page_scroll_back .5s linear;
}